<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choliy.igor.flickrgallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.choliy.igor.flickrgallery.PERMISSION_PRIVATE"/>

    <permission
        android:name="com.choliy.igor.flickrgallery.PERMISSION_PRIVATE"
        android:protectionLevel="signature"/>

    <application
        android:name=".FlickrApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.GalleryActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PictureActivity"
            android:parentActivityName=".activity.GalleryActivity"/>

        <activity
            android:name=".activity.ZoomActivity"
            android:parentActivityName=".activity.PictureActivity"
            android:theme="@style/ActivityTransparentStyle"/>

        <activity
            android:name=".activity.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activity.PictureActivity"/>

        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.GalleryActivity"/>

        <activity
            android:name=".activity.SavedActivity"
            android:parentActivityName=".activity.GalleryActivity"/>

        <service android:name=".async.NotificationService"/>

        <receiver android:name=".async.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".async.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.choliy.igor.flickrgallery.ACTION_SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>